<div class="windows">
  <div
    #calc
    id="calc"
    class="app c-pointer text-center"
    style="width: fit-content; margin: 20px"
    (click)="onClickApp(contentCalculator, 'calc')"
    cdkDrag
  >
    <img
      #calc
      id="calc"
      width="55px"
      src="./assets/calculadora.png"
      alt="Calculadora Icon"
    />
    <div class="c-pointer" #calc id="calc">
      <label
        #calc
        id="calc"
        style="width: 70px"
        [ngClass]="{ SelectedApp: selected == 'calc' }"
        class="text-center text-app c-pointer"
        >Calculadora de peso</label
      >
    </div>
  </div>

  <div
    #tetris
    id="tetris"
    class="app c-pointer text-center"
    style="width: fit-content; margin: 20px"
    (click)="onClickApp(contentTetris, 'tetris')"
    cdkDrag
  >
    <img
      #tetris
      id="tetris"
      width="55px"
      src="./assets/tetris.jpg"
      alt="Calculadora Icon"
    />
    <div class="c-pointer" #puzzle id="tetris">
      <label
        #tetris
        id="tetris"
        style="width: 70px"
        [ngClass]="{ SelectedApp: selected == 'tetris' }"
        class="text-center text-app c-pointer"
        >Tetris GameBoy</label
      >
    </div>
  </div>

  <div
    #puzzle
    id="puzzle"
    class="app c-pointer text-center"
    style="width: fit-content; margin: 20px"
    (click)="onClickApp(contentPuzzle, 'puzzle')"
    cdkDrag
  >
    <img
      #puzzle
      id="puzzle"
      width="55px"
      src="./assets/puzzle-fighter.png"
      alt="Calculadora Icon"
    />
    <div class="c-pointer" #puzzle id="puzzle">
      <label
        #puzzle
        id="puzzle"
        style="width: 70px"
        [ngClass]="{ SelectedApp: selected == 'puzzle' }"
        class="text-center text-app c-pointer"
        >Puzzle Fighter 2 turbo</label
      >
    </div>
  </div>

  <ng-template id="contentCalculator" #contentCalculator let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content" class="window">
      <div cdkDragHandle class="title-bar c-pointer">
        <div class="title-bar-text">Calculadora de peso</div>

        <div class="title-bar-controls">
          <!-- <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button> -->
          <button (click)="modal.close('ok')" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <div class="d-flex align-items-center justify-content-between">
          <p style="font-size: 13px">Introduce tu peso:</p>
          <div class="d-flex">
            <input
              inputmode="numeric"
              (keypress)="numericOnly($event)"
              type="text"
              [(ngModel)]="kg"
            />
            <p style="margin-left: 9px">Kg</p>
          </div>
        </div>
        <section class="field-row" style="justify-content: flex-end">
          <button (click)="openModal(contentResult, 'result')">Calcular</button>
          <!-- <button>Cancel</button> -->
        </section>
      </div>
    </div>
  </ng-template>

  <ng-template #contentResult let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content" class="window">
      <div cdkDragHandle class="title-bar c-pointer">
        <div class="title-bar-text">Resultado</div>

        <div class="title-bar-controls">
          <button (click)="modal.close('ok')" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <div
          style="
            font-size: 16px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 16px;
          "
        >
          ¡Tu peso es de {{ kg }} kg!
        </div>
        <section class="field-row" style="justify-content: flex-end">
          <button (click)="modal.close('ok')">Aceptar</button>
          <!-- <button>Cancel</button> -->
        </section>
      </div>
    </div>
  </ng-template>

  <ng-template #contentPuzzle let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content" class="window">
      <div cdkDragHandle class="title-bar c-pointer">
        <div class="title-bar-text">
          <img
            #app
            id="puzzle"
            width="18px"
            style="margin-right: 5px"
            src="./assets/puzzle-fighter.png"
            alt="Calculadora Icon"
          />super Puzzle fighter 2 turbo
        </div>

        <div class="title-bar-controls">
          <button (click)="modal.close('ok')" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <iframe
          src="https://www.retrogames.cc/embed/10184-super-puzzle-fighter-ii-turbo-super-puzzle-fighter-2-turbo-960620-usa.html"
          width="100%"
          height="450"
          frameborder="no"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
          scrolling="no"
        ></iframe>
      </div>
    </div>
  </ng-template>

  <ng-template #contentTetris let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content" class="window">
      <div cdkDragHandle class="title-bar c-pointer">
        <div class="title-bar-text">
          <img
            #app
            id="puzzle"
            width="15px"
            style="margin-right: 5px"
            src="./assets/tetris.jpg"
            alt="Calculadora Icon"
          />Tetris GameBoy
        </div>

        <div class="title-bar-controls">
          <button (click)="modal.close('ok')" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <iframe
          src="https://www.retrogames.cc/embed/25597-tetris-world.html"
          width="100%"
          height="450"
          frameborder="no"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
          scrolling="no"
        ></iframe>
      </div>
    </div>
  </ng-template>

  <div class="d-flex justify-content-center footer">
    <a
      target="_blank"
      class="text-center"
      href="https://twitter.com/martinemmir"
    >
      <img src="./assets/twitter.png" alt="Twitter @martinemmir" />
      <div>
        <label>@martinemmir</label>
      </div></a
    >
  </div>
</div>
