<div class="windows">
  <div
    #app
    id="app"
    class="app c-pointer text-center"
    style="width: fit-content; margin: 20px"
    (click)="onClickApp(contentCalculator)"
    cdkDrag
  >
    <img
      #app
      id="app"
      width="55px"
      src="./assets/calculadora.png"
      alt="Calculadora Icon"
    />
    <div class="c-pointer" #app id="app">
      <label
        #app
        id="app"
        style="width: 70px"
        [ngClass]="{ SelectedApp: selected }"
        class="text-center text-app c-pointer"
        >Calculadora de peso</label
      >
    </div>
  </div>
  <ng-template id="contentCalculator" #contentCalculator let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content" class="window">
      <div cdkDragHandle class="title-bar c-pointer">
        <div class="title-bar-text">Calculadora de peso</div>

        <div class="title-bar-controls">
          <!-- <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button> -->
          <button (click)="modal.close('ok')" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <div class="d-flex align-items-center justify-content-between">
          <p class="p-text" style="font-size: 13px">Introduce tu peso:</p>
          <div class="d-flex">
            <input (keypress)="numericOnly($event)" type="text" [(ngModel)]="kg" />
            <p style="margin-left: 9px">Kg</p>
          </div>
        </div>
        <section class="field-row" style="justify-content: flex-end">
          <button (click)="openCalculadora(contentResult, 'result')">Calcular</button>
          <!-- <button>Cancel</button> -->
        </section>
      </div>
    </div>
  </ng-template>

  <ng-template #contentResult let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content" class="window">
      <div cdkDragHandle class="title-bar c-pointer">
        <div class="title-bar-text">Resultado</div>

        <div class="title-bar-controls">
          <button (click)="modal.close('ok')" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <div
          style="
            font-size: 16px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 16px;
          "
        >
          ¡Tu peso es de {{ kg }} kg!
        </div>
        <section class="field-row" style="justify-content: flex-end">
          <button (click)="modal.close('ok')">Aceptar</button>
          <!-- <button>Cancel</button> -->
        </section>
      </div>
    </div>
  </ng-template>
  <div class="d-flex justify-content-center footer">
    <a target="_blank" class="text-center" href="https://twitter.com/martinemmir">
      <img src="./assets/twitter.png" alt="Twitter @martinemmir" />
      <div>
        <label>@martinemmir</label>
      </div></a
    >
  </div>
</div>
